---
layout: layout.liquid
tags: section
title: Work
---

<div class="hero-wrapper">
  <div class="hero">
    <div class="hero-description">
      Hola! I'm <span>Antonio.</span> <br>
      Front-End Developer 👨‍💻 <br>
      based in Madrid.
    </div>
  </div>
  <div class="background-video">
    <video data-autoplay="" autoplay="" webkit-playsinline="" playsinline="" loop="" muted="" data-object-fit="cover">
      <source src="./yellow-vibe.mp4" type="video/mp4">
    </video>
  </div>
  <div class="selected-work">Check out my work below ↓</div>
</div>

<section class="project-section">
  {% for project in collections.mainProjects %}

  <a {% if project.data.externalUrl == true %} href="{{project.data.url}}" target="_blank" {% endif %}
    {% if project.data.externalUrl == false %} href="{{project.url}}" {% endif %}
    rel="noopener noreferrer" tabindex="0">
    <section class="{{project.data.name}}">
      <div class="project-section--description">
        <div class="title">{{project.data.title}}</div>
        <div class="project-stack">
          {% for stack in project.data.stack %}
          <div class="project-stack--item">{{stack}}</div>
          {% endfor %}
        </div>
        <div class="project-details">{{project.data.subtitle}}</div>
        <div class="project-gradient">
        </div>
        <div class="button-wrapper">
          <div class=button-border>
            <button tab-index="0" class="project-button">View project</button>
          </div>
        </div>
      </div>
      <img src="./images/{{project.data.showcaseImg}}" alt="{{project.data.title}}">
    </section>
  </a>
  {% endfor %}

</section>
{% include footer.html %}
<div class="copyright">Copyright © 2021 Antonio García. Made with Eleventy</div>