---
layout: layout.liquid
pagination:
  data: collections.works
  size: 2
  alias: works
---

<div class="hero-wrapper">
  <div class="hero">
    <!-- <img class="hero-img" src="./images/man.jpg" alt="me"> -->
    <div class="hero-description">
    Hi, I'm <span style="color: #F78154">Antonio</span> <br>
    Front-End Developer 👨‍💻 <br> 
    based in Madrid. 
    </div>
  </div>
  <div class="background-video">
    <video data-autoplay="" autoplay="" webkit-playsinline="" playsinline="" loop="" muted="" data-object-fit="cover">
      <source src="./yellow-vibe.mp4" type="video/mp4">
    </video>
  </div>
  <div class="selected-work">
    Selected work ↓
  </div>
</div>

<section class="work-section">
  {% for work in works %}
  <a href="{{work.url}}">
    <section class="{{work.data.title}}">
        <div class="work-section--description">
          <div class="title">{{work.data.title}}</div>
          <div class="work-stack">
            {% for stack in work.data.stack %}
            <div class="work-stack--item">{{stack}}</div>
            {% endfor %}
          </div>
          <div class="work-details">{{work.data.subtitle}}</div>
          <button class="work-button">Read more</button>
        </div>
        <img src="./images/{{work.data.img}}" alt="{{work.data.title}}">
    </section>
  </a>
  {% endfor %}

  <section class="old-works">
  {% for oldWork in collections.old-works %}
  <div class="old-work">
    <a href={{oldWork.url}} rel="noopener noreferrer">
      <img src="./images/softbank.webp">
      <div class="old-work-description">
        <div class="old-work-title">{{oldWork.data.title}}</div>
        <div class="old-work-text">{{oldWork.data.subtitle}}</div>
        <button class="work-button">Read more</button>
      </div>
    </a>
  </div>
  {% endfor %}
    
    <!-- <div class="old-work">
      <img src="./images/softbank.webp">
      <div class="old-work-description">
        <div class="old-work-title">Softbank for Windows Phone</div>
        <div class="old-work-text">Softbank's skinnable banking solution for Windows Phone</div>
        <button class="work-button">Read more</button>
      </div>
    </div>
    <div class="old-work">
      <img src="./images/softbank.webp">
      <div class="old-work-description">
        <div class="old-work-title">Softbank for Windows Phone</div>
        <div class="old-work-text">Softbank's skinnable banking solution for Windows Phone</div>
        <button class="work-button">Read more</button>
      </div>
    </div> -->
  </section>
</section>
{% include footer.html %}
<div class="copyright">Copyright © 2020 Antonio García. Made with ❤️ and Eleventy</div>