<footer>
  <h1>Thanks for scrolling 👋🏽</h1>
  <div>If you want to work on a project, learn more about my past work, or just want to grab some coffee, I'd love to chat.</div>
  <div class="footer-email-text">Want to connect? Send me an <a tabindex=0>email!</a></div>
  <div class="footer-mdia">
    <div>Find me on:</div>
    <ul class="footer-icons">
      <li tabindex=0><a>Linkedin</a></li>
      <li tabindex=0><a>Github</a></li>
      <li tabindex=0><a>LeetCode</a></li>
    </ul>
  </div>
</footer>