<header>
  <div class="header-wrapper">
    <a class="header-logo-link" href="/">ag.</a>
    <nav>
    {%- for post in collections.section reversed-%}
      <a {% if page.url == post.url %} aria-current="page"{% endif %} href="{{ post.url }}">{{ post.data.title }}</a>
    {%- endfor -%}
    <a href="https://drive.google.com/file/d/1N4JY3dYMetL034sZEjN21e-H0JFBIzTm/view" rel="noopener noreferrer" target="_blank" tabindex="0">Resume</a>
    </nav>
  </div>
  <!-- <button class="contact-button">Contact</button> -->
</header>