<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <meta name="description" content="Antonio Garcia | Portfolio">
    <title>Antonio García | Portfolio</title>
    <style>
      {% include main.css %}
    </style>
  </head>
  <body>
    {% include header.html %}
    {% comment %} <h1>{{ pageTitle }}</h1> {% endcomment %}
    <main>{{ content }}</main>
    {% comment %} {{ content }} {% endcomment %}
  </body>
</html>