:root {
  --main-text: #153243;
  --main-secondary-text: #3F51B5;
  --highlight: #ffec76;
  --button: #37474f;
  --text-reversed: #f7f7f7;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #fafbff;
  color: var(--main-text);
  font-size: 16px;
  position: relative;
  margin: 0 auto;
}

main {
  padding-top: 125px;
}

header {
  height: 125px;
  padding: 0 5%;
  z-index: 5;
  position: absolute;
  top: 0;
  width: 100%;
  box-sizing: border-box;
}

.hero-description span {
  color: var(--main-secondary-text);
}

.arrow-bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }

}

.header-wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  height: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  max-width: 1250px;
}

#light-header-theme {
  color: #fff;
}

#light-header-theme .header-logo-link {
  color: #fff;
}

footer {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  margin-top: 35px;
  padding: 0 20px 100px 20px;
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

button {
  font-family: 'Poppins', sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
}

nav a {
  padding: 0 10px;
  cursor: pointer;
  margin: 0 10px;
  display: block;
  position: relative;
}

.external-link-icon {
  width: 15px;
  height: 15px;
  fill: #b9cdda;
}

[aria-current="page"] {
  text-decoration: underline;
}

.header-logo-link {
  display: block;
  font-size: 32px;
  font-weight: bold;
  color: var(--main-secondary-text);
}


.hero {
  font-size: 48px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  font-weight: bolder;
}

.hero-icon {
  padding: 10px;
  background: #153242;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  top: -125px;
  z-index: 4;
}

.background-video {
  background-position: top center;
  background-size: cover;
  height: calc(100% + 125px);
  left: 0;
  max-width: 100%;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: -125px;
  width: 100%;
  z-index: 0;
  transform: scale(1.25);
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.title {
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 700;
}

.selected-work {
  z-index: 2;
  position: absolute;
  bottom: 110px;
  right: 0;
  left: 0;
  text-align: center;
  color: #153242;
  font-size: 13px;
  text-transform: uppercase;
}

.project-section {
  max-width: 1050px;
  margin: 0 auto;
}

.project-gradient { 
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 8px;
  height: 100%;
}

.project-section section {
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 100px;
  position: relative;
  box-shadow: 6px 20px 20px rgba(0,0,0,0.04);
}

.project-section--description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 60px;
}

.project-button {
  width: 175px;
  background: var(--button);
  padding: 4px 0;
  border: 3px solid var(--button);
  box-shadow: 0 0 0 3px var(--button);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  transform: translate3d(-8px, -8px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  color: var(--text-reversed);
  border-radius: 0;
  cursor: pointer;
}

.button-wrapper:hover .project-button{
  transform: translate3d(0, 0, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transition: 250ms transform ease-out;
}

.project-details {
  line-height: 1.4;
  padding: 15px 0;
  font-weight: 300;
  max-width: 285px;
}

.project-section section {
  height: 550px;
}

.project-stack {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  font-size: 14px;
}

.project-stack--item {
  background: var(--highlight);
  margin: 0 4px 4px 0;
  padding: 5px 10px;
  color: #000000d1;
}

.project-section img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.project-section .interiorista {
  background: #4C5C68;
  box-sizing: border-box;
  color: var(--text-reversed);
}

.project-section img {
  height: 100%;
}

.button-border {
  display: inline-block;
  background-color: transparent;
  box-shadow: 0 0 0 3px var(--button);
  transform: translate(11px, 11px);
}

.button-wrapper {
  width: fit-content;
  display: inline-block;
  margin-top: 20px;
  margin-left: -7px;
  padding-right: 15px;
  padding-bottom: 15px;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

section.secondary-projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 25px;
  align-items: center;
  background: inherit;
  box-shadow: none;
}

.secondary {
  height: 100%;
  background: var(--text-reversed);
}

.secondary-project-text {
  text-align: center;
  padding: 20px 0;
}

.secondary-project-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

.secondary-project-title {
  font-size: 22px;
  text-align: center;
  font-weight: 600;
}

.footer-mdia {
  margin-top: 50px;
}

footer h1 {
  font-weight: 600;
}

footer div {
  max-width: 600px;
  font-weight: 300;
}

footer a {
  color: #5c6bc0;
}

.footer-icons {
  margin-top: 15px;
  display: flex;
  list-style-type: none;
  padding: 0;
}

.footer-email-text {
  margin-top: 10px;
}

.footer-icons li:nth-child(even) {
  margin: 0 10px;
}

.copyright {
  bottom: 0;
  font-size: 13px;
  position: absolute;
  text-align: center;
  width: 100%;
  margin-bottom: 5px;
  color: #153242a8;
}

/* about page */
.about-section {
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  grid-template-areas:
      "avatar description"
      "email email"
      "footer footer";
  padding: 0 30px;
  grid-gap: 100px;
  grid-row-gap: 100px;
  margin: 40px auto;
  max-width: 1050px;
  line-height: 24pt;
  margin: 50px auto;
}

.about-section footer {
  grid-area: footer;
}

.about-me-img {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  grid-area: avatar;
}

.about-me--description {
  grid-area: description
}

.about-section--email {
  grid-area: email;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.email-line-cross {
  width: 100%;
  height: 6px;
  position: absolute;
  background: #3f51b514;
  border-radius: 15px;
  margin-top: 4px;
}

.email-title {
  font-size: 38px;
  font-weight: 600;
  z-index: 1;
}


/* WORK SECTION */

.work-hero {
  height: 100vh;
  margin-top: -125px;
  background-size: cover;
  background-position: center;
  padding-top: 125px;
  color: #fffffff4;
  box-sizing: border-box;
  position: relative;
}

.work-hero svg {
  position: absolute;
  bottom: 25px;
  right: 50%;
  fill: #fff;
}

.work-hero--wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: calc(100% - 125px);
  max-width: 1050px;
  margin: 0 55px;
  padding: 0 55px;
  box-sizing: border-box;
}

.border-top {
  background: #ffffffd6;
  width: 100px;
  height: 3px;
  margin-bottom: 10px;
}

.hero-title {
  font-size: 72px;
  letter-spacing: 0.6px;
  text-shadow: 12px -12px 6px rgba(0,0,0,0.06);
  margin-bottom: 20px;
}

.hero-subtitle {
  font-size: 18px;
  font-weight: 100;
  max-width: 750px;
}

.hero-list {
  flex-direction: row;
  display: grid;
  grid-template-columns: 1fr 1fr max-content;
  justify-content: space-between;
  grid-gap: 5px;
  width: 100%;
  margin: 0 auto;
  max-width: 1050px;
  padding: 55px 25px;
}

.bold {
  font-weight: bold;
}

.list-container--title {
  letter-spacing: 0.2px;
  margin-bottom: 15px;
  font-size: 20px;
  color: rgb(27, 75, 111);
}

.border-top-light {
  height: 2px;
  background: #cca6a1;
  width: 20px;
  margin-bottom: 2px;
}

.list-container--description {
  line-height: 2;
  color: #000000cc;
  padding: 0;
  margin: 0;
  list-style-type: none;
  max-width: 400px;
}

.work-showcase {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 815px;
  margin: 0 auto;
  width: 80%;
  margin: 50px auto;
  max-width: 1050px;
}

.work-features--section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  max-width: 1050px;
  margin: 20px auto;
  padding: 0 45px;
}

.work-explanation {
  background: #424242;
  color: #fff;
  padding: 80px 40px;
}

.explanation-type {
  color: #fdecb5;
}

.work-explanation--wrapper {
  max-width: 815px;
  margin: 0 auto;
}

.work-explanation--section {
  margin-bottom: 60px;
}

.work-gallery {
  max-width: 815px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.work-gallery img {
  width: 255px;
  margin: 20px 0;
}

.work-gallery img:nth-child(even) {
  margin-left: auto;
}

.work-showcase.interiorista > img {
  box-shadow: 1px -5px 20px 0px rgba(0,0,0,0.14);
  border-radius: 6px;
}

.projects-nav {
  background: #ffecb5;
  padding: 55px 40px;
  box-shadow: 0px -1px 20px 0 rgba(0,0,0,0.14);
}

.projects-nav--wrapper {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  margin: 0 auto;
  max-width: 1050px;
  width: 100%;
}

.item--text {
  color: #000000d1;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

.item--title {
  font-size: 20px;
  font-weight: bold;
}

.projects-nav .projects-nav--item:nth-child(3) {
  margin-left: auto;
  text-align: right;
}

.align-right {
  text-align: right;
}

.separator {
  width: 2px;
  background: #fbe6a3;
  height: 50px;
  margin: auto 0;
}


.animated-arrow-2 {
  animation: arrow2 3s infinite ease-in;
  opacity: 1;
}

.animated-arrow-1 {
  animation: arrow1 3s infinite ease-out;
  opacity: 0;
}

.icon-arrow-hint {
  display: block;
  margin-bottom: 20px;
  background-position: 0 0;
  height: 15px;
  width: 24px;
}

.arrow-hint {
  position: absolute;
  left: 50%;
  bottom: 0;
}

@media only screen and (max-width: 657px) {

  .header-wrapper {
    flex-direction: column;
    justify-content: center;
  }

  .header-logo-link {
    margin-bottom: 10px;
  }  

  .hero {
    font-size: 30px;
  }

  .project-section {
    margin: 0;
  }

  .project-section--description {
    grid-area: info;
    padding: 0;
    justify-content: flex-start;
    margin-top: 20px;
    padding: 25px;
  }

  .rankup img, .interiorista img {
    grid-area: picture;
  }

  .project-section section {
    grid-template-areas:
        "picture"
        "info";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 35px;
    background: #fff;
    width: 90%;
  }

  .project-stack {
    margin-top: 0;
  }

  .project-stack--item {
    padding: 2px 10px;
  }

}

@media only screen and (max-width: 925px) {

  .about-section {
    grid-template-areas:
      "avatar avatar"
      "description description"
      "email email"
      "footer footer";
    grid-gap: 50px;
    padding: 0;
  }

  .hero-title {
    font-size: 40px;
  }

  .hero-subtitle {
    font-size: 16px;
  }

  .hero-list {
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }

  .work-showcase {
    flex-direction: column;
    gap: 20px;
    width: 100%;
    overflow: hidden;
  }

  .list-container--title {
    margin-bottom: 0;
  }
  

  .work-hero--wrapper {
    margin: 0 25px;
    padding: 0;
  }

  .about-me-img {
    box-sizing: border-box;
    padding: 20px;
  }

  .email-title {
    font-size: 26px;
  }

  .email-line-cross {
    margin-top: 3px;
  }

  .about-me--description {
    width: 85vw;
    margin: 0 auto;
  }

}

@media only screen and (max-width: 380px) {

  body {
    font-size: 14px;
  }

  .hero-title {
    font-size: 36px;
  }

  .work-showcase img {
    width: 90%;
    object-fit: contain;
  }

}


@keyframes arrow1 {
  0% {
    opacity: 0;
    transform: translate(0,0);
  }
  90% {
      opacity: 0;
      transform: translate(0,0);
  }
  100% {
      opacity: 1;
      -webkit-transform: translate(0,36px);
      -ms-transform: translate(0,36px);
      transform: translate(0,36px);
  }
}

@keyframes arrow2 {
  0% {
    opacity: 1;
    transform: translate(0,0);
  }

  90% {
      opacity: 1;
      transform: translate(0,0);
  }
  100% {
      opacity: 0;
      transform: translate(0,36px);
  }
}