html {
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background: #fafbff;
  color: #153243;
  position: relative;
  max-width: 1050px;
  margin: 0 auto;
}

main {
  padding-top: 125px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 125px;
  padding: 0 30px;
  z-index: 5;
  position: absolute;
  top: 0;
  width: 100%;
  box-sizing: border-box;
}

footer {
  width: 90vw;
  margin: 0 auto;
  padding-bottom: 100px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

button {
  font-family: 'Poppins', sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
}

nav a {
  padding: 0 10px;
  cursor: pointer;
  margin: 0 10px;
}

.header-logo-link img {
  display: block;
}

.hero {
  font-size: 52px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  font-weight: bolder;
}

.hero-icon {
  padding: 10px;
  background: #153242;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  top: -125px;
  z-index: 4;
}

.background-video {
  background-position: top center;
  background-size: cover;
  height: calc(100% + 125px);
  left: 0;
  max-width: 100%;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: -125px;
  width: 100%;
  z-index: 0;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.title {
  text-transform: capitalize;
  font-size: 28px;
  font-weight: 700;
}

.selected-work {
  position: absolute;
  bottom: 15px;
  right: 0;
  left: 0;
  text-align: center;
  color: #153242;
  font-size: 13px;
  text-transform: uppercase;
}

.work-section section {
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 100px;
  /* border-radius: 20px; */
  box-shadow: 6px 20px 20px rgba(0,0,0,0.04);
}

.work-img {
  background-attachment: fixed;
  background-position: initial;
  background-repeat: no-repeat;
  background-size: cover;
  /* border-bottom-right-radius: 20px;
  border-top-right-radius: 20px; */
  height: 65vh;
  width: 100%;
}

.interiorista-img {
  background-image: url(./images/interiorista.jpg);
}

.work-section--description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 60px;
}

.work-button {
  width: 155px;
  margin-top: 30px;
  background: none;
  border: 2px solid #153242;
  padding: 8px 0;
  font-size: 14px;
  color: #153242;
  font-weight: 600;
  box-sizing: border-box;
}

.work-details {
  color: #546E7A;
  line-height: 1.4;
  font-size: 16px;
  padding-top: 20px;
  font-weight: 300;
  max-width: 285px;
}

.interiorista, .rankup {
  height: 550px;
}

.work-stack {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  font-size: 14px;
}

.hero-img {
  width: 300px;
}

.work-stack--item {
  background: #ffec76;
  margin: 0 4px 4px 0;
  padding: 5px 10px;
  /* border-radius: 8px; */
  color: #000000d1;
}

.work-section img {
  width: 100%;
  object-fit: cover;
}

.interiorista {
  background: #4C5C68 !important;
  box-sizing: border-box;
  color: #fff;
}

.interiorista .work-button {
  border-color: #fff;
  color: #fff;
}

.interiorista .work-details {
  color: #fff;
}

.rankup img, .interiorista img {
  /* border-top-right-radius: 20px;
  border-bottom-right-radius: 20px; */
  height: 100%;
}

section .old-works {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 25px;
  align-items: center;
  background: inherit;
  box-shadow: none;
}

.old-work {
  background: #f7f7f7;
}

.old-work-text {
  text-align: center;
}

.old-work-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

.old-work-title {
  font-size: 22px;
  text-align: center;
  padding: 20px 0;
  font-weight: 600;
}

.footer-mdia {
  margin-top: 50px;
}

footer h1 {
  font-weight: 600;
}

footer div {
  max-width: 600px;
  font-weight: 300;
}

footer a {
  color: #5c6bc0;
}

.footer-icons {
  margin-top: 15px;
  display: flex;
  list-style-type: none;
  padding: 0;
}

.footer-email-text {
  margin-top: 10px;
}

.footer-icons li:nth-child(even) {
  margin: 0 10px;
}

.copyright {
  bottom: 0;
  font-size: 13px;
  position: absolute;
  text-align: center;
  width: 100%;
  margin-bottom: 5px;
  color: #153242a8;
}



/* about page */

.about-section {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-areas:
      "avatar description"
      "email email";
  padding: 0 30px;
  grid-gap: 30px;
  grid-row-gap: 100px;
  margin: 40px auto;
  line-height: 24pt;
}

.about-me-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  grid-area: avatar;
  border-radius: 50%;
}

.about-me--description {
  grid-area: description
}

.about-section--email {
  grid-area: email;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.email-line-cross {
  width: 100%;
  height: 6px;
  position: absolute;
  background: #f9be11;
  border-radius: 15px;
  margin-top: 4px;
}

.email-title {
  font-size: 38px;
  font-weight: 600;
  z-index: 1;
}


/* WORK SECTION */

.work-hero {
  max-width: 815px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 300;
}

.hero-title {
  margin: 90px 0;
  font-size: 22px;
}

.hero-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  grid-gap: 55px;
}

.bold {
  font-weight: bold;
}

.list-container--title {
  font-weight: 600;
  letter-spacing: 0.2px;
  margin-bottom: 15px;
  font-size: 20px;
}

.list-container--description {
  font-size: 16px;
  line-height: 2;
}

.work-showcase {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 80px;
}

.work-showcase img {
  width: 100%;
}





