<section>
  <div class="work-hero" style="background-image: url('./images/{{imageBg}}')">
    <div class="work-hero--wrapper">
      <div class="hero-title bold">
        <div class="border-top"></div>
        {{url}}
      </div>
      <div class="hero-subtitle">{{subtitle}}</div>
    </div>
    <div class="arrow-hint">
      <a aria-label="Scroll to {{url}} description" href="#start">
        <div class="icon icon-arrow-hint animated-arrow-1">
          <svg version="1.1" id="Ebene_2_1_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="53px" height="20px" viewBox="0 0 53 20" enable-background="new 0 0 53 20" xml:space="preserve"><g><polygon points="26.5,17.688 9.114,3.779 10.303,2.312 26.5,15.269 42.697,2.313 43.886,3.779"></polygon></g></svg>
        </div>
        <div class="icon icon-arrow-hint animated-arrow-2">
          <svg version="1.1" id="Ebene_2_1_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="53px" height="20px" viewBox="0 0 53 20" enable-background="new 0 0 53 20" xml:space="preserve"><g><polygon points="26.5,17.688 9.114,3.779 10.303,2.312 26.5,15.269 42.697,2.313 43.886,3.779"></polygon></g></svg>
        </div>
      </a>
    </div>
  </div>
  <div id="start" class="hero-list">
    <div class="list-container">
      <div class="list-container--title">
        <div class="border-top-light"></div>
        Overview</div>
      <div class="list-container--description">{{overview}}</div>
    </div>
    <div class="list-container">
      <div class="list-container--title"><div class="border-top-light"></div>My role</div>
      <div class="list-container--description">
        <span class="bold">{{role[0]}}</span> {{role[1]}}
      </div>
    </div>
    <div class="list-container">
      <div class="list-container--title"><div class="border-top-light"></div>Stack</div>
      <ul class="list-container--description">
      {% for s in stack %}
          <li>{{s}}</li>
      {% endfor %}</div>
    </div>
  </div>
  <div class="work-showcase {{name}}">
    {% for img in mainImgs %}
      <img src="./images/{{img}}" alt="{{title}} {{img}}">
    {% endfor %}
  </div>
  <div class="work-explanation">
    <div class="work-explanation--wrapper">
    {% if motivation %} 
      <div class="work-explanation--section">
        <div class="explanation-type">Motivation</div>
         {{motivation}}
      </div>
    {% endif %}

    {% if situation %} 
      <div class="work-explanation--section">
        <div class="explanation-type">Situation</div>
         {{situation}}
      </div>
    {% endif %}

    {% if task %} 
      <div class="work-explanation--section">
        <div class="explanation-type">Task</div>
        {{task}}
      </div>
    {% endif %}

    {% if problem %} 
      <div class="work-explanation--section">
        <div class="explanation-type">Problem</div>
         {{problem}}
      </div>
      {% endif %}

    {% if process %} 
      <div class="work-explanation--section">
        <div class="explanation-type">Process</div>
        {{process}}
      </div>
    {% endif %}

    {% if results %} 
      <div class="work-explanation--section">
        <div class="explanation-type">Results</div>
        {{results}}
      </div>
    {% endif %}
    </div>
  </div>
</section>


{% assign previousPost = collections.sortedProjects | getPreviousCollectionItem: page %}
{% assign nextPost = collections.sortedProjects | getNextCollectionItem: page %}
<nav class="projects-nav">
  <div class="projects-nav--wrapper">
    <div class="projects-nav--item">
      {% if previousPost %}
      <a href="{{ previousPost.url }}">
        <div class="item--text">PREV</div>
        <div class="item--title">{{ previousPost.data.title }}</div>
      </a>
      {% endif %}
    </div>
    <div class="separator"></div>
    <div class="projects-nav--item">
      {% if nextPost %}
      <a href="{{ nextPost.url }}">
        <div class="item--text align-right">Next</div>
        <div class="item--title">{{ nextPost.data.title }}</div>
      </a>
      {% endif %}
    </div>
  </div>
</nav>

