<section>
  <div class="work-hero">
    <div class="hero-title"><span class="bold">{{title}}</span> {{subtitle}}</div>
    <div class="hero-list">
      <div class="list-container">
        <div class="list-container--title">Overview</div>
        <div class="list-container--description">{{overview}}</div>
      </div>
      <div class="list-container">
        <div class="list-container--title">My role</div>
        <div class="list-container--description">
          <span class="bold">{{role[0]}}</span> {{role[1]}}
        </div>
      </div>
      <div class="list-container">
        <div class="list-container--title">Tools</div>
        <div class="list-container--description">{{tools}}</div>
      </div>
    </div>
  </div>
  <div class="work-showcase">
    {% for img in mainImgs %}
      <img src="./images/{{img}}" alt="rankup {{img}}">
    {% endfor %}
  </div>
  <div class="work-explanation">
    <div class="work-explanation--section">
      <h1>Problems</h1>
      <p>· How can we find a specific piece of clothing the user is looking for?</p>
      <p>· How can we offer multiple shop options with comparison for that specific clothing item?</p>
      <p>· How can we find a specific piece of clothing the user is looking for?</p>
      <p>· How can we offer multiple shop options with comparison for that specific clothing item?</p>
    </div>
    <div class="work-explanation--section">
      <h1>Solution</h1>
      <p>Trend Finder identifies major fashion trends and compiles the featured items from several stores and brands. Functioning as a marketplace, it offers a comparative with many shop options to buy the desired clothing. The app was developed to save time and make the user's life easier. To find a jeans jacket the user wants, for example, he can simply choose from the many options that the app found in different shops and buy straight from the app. Each consumer prioritizes certain qualities that appear in filters such as price, rating, size, among others. The user can stay updated on the latest fashion trends or get the specific products they are looking for.</p>
    </div>
    <div class="work-explanation--section">
      <h1>Process</h1>
      <p>I interviewed friends, family, and co-workers to understand their problems, needs, and experiences. After that, I researched current apps and online stores that function as market places, and also other online stores. I wrote on paper the main features the app needed to have to solve the problems and started sketching.</p>
    </div>
  </div>
  <div class="work-gallery">
    {% for img in secondaryImgs %}
      <img src="./images/{{img}}" alt="{{img}} rankup"/>
    {% endfor %}
  </div>
</section>
{% include footer.html %}